body {
    margin: 0;
    padding: 0;
}

/* Ensure the image takes the full width and height of the viewport */
.full-screen-image {
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Hide any overflow beyond the viewport */
    position: relative;
}

/* Make the image responsive */
.full-screen-image img {
    width: 100%; /* Take 100% of the width of the parent container */
    height: 100%; /* Take 100% of the height of the parent container */
    object-fit: cover; /* Maintain the aspect ratio and cover the entire container */
}
